body {
  background: #082849;
  color: #fff ;
  font-family: sans-serif;
  text-align: center;
  padding: 40px;
}
 
.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card{
   width: 220px;
   height: 300px;
   perspective: 1000px;
}

.card-inner{
     position: relative;
    width: 100%;
    height: 100%;
    transition: transform  1.0s;
    transform-style: preserve-3d;
}

.card:hover .card-inner{
    transform: rotateY(180deg);
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
}

.card-front img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-front .nome{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    text-align: center;
    line-height: 1.3;
    box-sizing: border-box;
}

.card-back{
    background: #044704;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card-back p{
    margin: 0;
    font-size: 15px;
}
