      /* 1. Reset para incluir 
        padding na largura total
        e zerar margens */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

       .container {
            display: flex;
            gap: 1px;
            flex-direction: row;
        }

        .container div {
            display: flex;
            background-color: red;
            padding: 20px;
        }

        .col-10 {flex: 0 0 10%;}

        .col-30 {flex: 0 0 30%;}

        .col-70 {flex: 0 0 70%;}

        .col-100 {flex: 0 0 100%;}

        #blocos {justify-content: center;}

        #rodape {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
            background-color: red;
        } 
